{% extends '_base.html' %}

{% load staticfiles %}

{% block page_title %} | Change Password {% endblock %}

{% block main_content %}
    <div class="navbar-hero small-hero">
       <div class="container">
          <div class="row">
             <div class="col-md-10 col-sm-12">
                <div class="bm-x---m">
                    <h2 class="white-text">Welcome {{ request.user.first_name }}</h2>
                </div>
                <h3 class="sub-hero-header small-txt">
                   Change Password
                </h3>
             </div>
          </div>
       </div>
    </div>

    {% include 'practice/modules/profile-nav.html' %}
<div class="section user profile-edit">

    <div class="container">
            <div class="row">
                <div class="col-xs-12">
                     {% include 'practice/modules/topMessages.html' %}
                </div>
            </div>
        <form action="." method="post" id="id_form_change_password" name="form_change_password">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-sm-12  bm-x---l">
                    <div class="form_holder">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="id_old_password">Old Password*</label>
                                    <input autocomplete="off" class="form-control" id="id_old_password" name="old_password" type="password" />
                                    {% if password_incorrect_error %}
                                        <span class="help-block form-error" id="id_error_old_password">Old password is incorrect.</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="id_new_password">New Password*</label>
                                    <input autocomplete="off" class="form-control" id="id_new_password" name="new_password" type="password" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="id_confirm_password">Confirm Password*</label>
                                    <input autocomplete="off" class="form-control" id="id_confirm_password" name="confirm_password" type="password" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-6 col-lg-offset-3 col-sm-12">
                        <strong>*</strong> Mandatory fields
                        <div class="form-splitter bm-x---l"></div>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3 col-sm-12 bm-x---s">
                        <button  id="id_submit_change_password" name="submit_change_password"  type="submit" class="bm-x---l theme-btn small-btn submit-btn pull-right">Save</button>
                    </div>
            </div>
        </form>
    </div>

</div>
{% endblock main_content %}

{% block js_extra %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_form_change_password').validate({
                rules: {
                    old_password: {
                        required: true
                    },
                    new_password: {
                        required: true,
                        minlength: 1
                    },
                    confirm_password: {
                        required: true,
                        minlength: 1,
                        equalTo: "#id_new_password"
                    }
                },
                messages: {
                    old_password: {
                        required: "Old password is required"
                    },
                    new_password:{
                        required: "New password is required",
                        minlength: "The password must contain at least one letter and at least one digit or special character"
                    },
                    confirm_password:{
                        required: "Confirm password is required",
                        minlength: "The confirm password must contain at least one letter and at least one digit or special character",
                        equalTo: "New password and confirm password do not match"
                    }
                }
            });
            {% if request.method == 'POST' %}
            topMessage("Password updated successfully",'success');
            {% endif %}
        });
    </script>
{% endblock js_extra %}
