{% if pagination_info.has_other_pages %}
<div class="row">
<ul class="pagination" style="padding-left: 18px;">
        <p> {{ pagination_info.count_per_page }} of {{ pagination_info.total_count }}</p>
</ul>
    <div class="col-md-12 pull-right common-pagination-right">
        <nav>
            <ul class="pagination">
                {% if pagination_info.has_previous %}
                    <li><a onclick='navigatePageWithUrlParameters("{{ pagination_info.previous_page_number }}")' class="pageNavigation">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a class="pageNavigation">&laquo;</a></li>
                {% endif %}
                {% if pagination_info.num_pages and pagination_info.num_pages > 3 %}
                    {% if pagination_info.number > 2 %}
                        <li><a onclick='navigatePageWithUrlParameters(1)' class="pageNavigation">Go to First</a></li>
                        <li><a>.....</a></li>
                    {% endif %}
                {% endif %}
                <li class="active"><a>{{ pagination_info.number }}</a></li>
                {% if pagination_info.has_next %}
                    {% if pagination_info.next_page_number != pagination_info.num_pages %}
                        <li><a onclick='navigatePageWithUrlParameters("{{ pagination_info.next_page_number }}")' class="pageNavigation">&raquo;</a></li>
                    {% elif pagination_info.num_pages == 2 %}
                        <li><a onclick='navigatePageWithUrlParameters("{{ pagination_info.next_page_number }}")' class="pageNavigation">{{ pagination_info.next_page_number }}</a></li>
                    {% endif %}
                {% endif %}
                {% if pagination_info.num_pages and pagination_info.num_pages > 2 %}
                    {% if pagination_info.number != pagination_info.num_pages %}
                        <li><a>.....</a></li>
                        <li><a onclick='navigatePageWithUrlParameters("{{ pagination_info.num_pages }}")' class="pageNavigation">Go to Last({{ pagination_info.num_pages }})</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}