{% extends "_base.html" %}
{% load static %}
{% block content %}
    <div id="page-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <ol class="breadcrumb">
                            <i class="fa fa-dashboard"></i>
                            <li><a href="{% url 'home' brand %}">Dashboard</a></li>
                            <li><a href="">Live Performance Details</a></li>
                            <li>{{ plant_details.name }}</li>
                            <li>{{ plan_date }}</li>
                            <li class="pull-right" id="demo"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <p id="assembly_error" style="display: none;"></p>
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet portlet-default" >
                        <div class="portlet-title">
                            {% for msg in messages %}
                                <h5 class="{{ msg.tags }}">{{ msg }}</h5>
                            {% endfor %}
                        </div>
                        <div class="portlet-heading" style="padding: 10px">
                            <div style="float: left; margin-right: 200px;">
                                <div class="add-element">
                                    <a href="{% url 'all-lines' brand %}?date={{ bar_code_date  }}&depot_code={{ plant_details.code }}" method="GET">
                                        <input type="button" class="btn btn-white" value="Plot Chart" style="border-radius: 5px;"/>
                                    </a>
                                </div>
                            </div>
                            {% if request.user.user_brand.group.name == 'Admin' or request.user.user_brand.group.name == 'SuperAdmin' or request.user.user_brand.group.name == 'PlantAdmin' or request.user.user_brand.group.name == 'SuperVisor'%}
                                <form action="{% url 'performance' brand %}" method="GET" style="float: right">
                                    <div cloass="remove-element" style="float: right; margin-left: 20px;" >
                                        <select class="btn btn-white" name="depot_code" class="">
                                            <option value="">Select Plant</option>
                                            {% for d in business_unit_details %}
                                                <option value="{{ d.code }}"
                                                        {% if depot_code == d.code %}
                                                        selected
                                                        {% endif %}>
                                                    {{ d.code }} - {{ d.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <input type="submit" class="btn btn-white" value="Submit" style="border-radius: 5px;" />
                                    </div>
                                    <div class="input-append date form_datetime"  style="float: right">
                                        <input type="text" name="date" id="id_date" size="16" placeholder="Select Plan Date"
                                               class="form-control" required autocomplete="off"
                                               value="{% if plan_date %}{{ plan_date }}{% endif %}"/>
                                    </div>
                                </form>

                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="portlet-body">
                            {% if plans == "No Data" %}
                                <h4>Today's plan is not available. </h4>
                            {% elif plans %}
                                <div id="example-table_wrapper" role="grid" class="dataTables_wrapper form-inline">
                                <table id="example-table" class="table table-striped table-bordered table-hover table-green dataTable" aria-describedby="example-table_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px;">Plant Name</th>
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px;">Plan Date</th>
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px;">Machine No/ Machine Name</th>
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px;">Product Code/ Product Name</th>
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px;">Target</th>
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px; background-color: yellowgreen">Previous Hour</th>
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px;">Current Hour</th>
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px; background-color: blueviolet">Next Hour</th>
                                    </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for i in plans %}
                                        <tr class="gradeA odd">
                                            <td rowspan="2" class="">{{ i.plant.unit.code }} - {{ i.plant.unit.name }}</td>
                                            <td rowspan="2" class="">{{ i.plant.plan_date }}</td>
                                            <td rowspan="2" class="">{{ i.plant.machine.no }} - {{ i.plant.machine.name }}</td>
                                            <td rowspan="2" class="">{{ i.plant.product.code }} - {{ i.plant.product.name }}</td>
                                            <td rowspan="2" class="">{{ i.plant.target }}</td>
                                            <td >{{ i.target_per_hour }}</td>
                                            <td >{{ i.target_per_hour }}</td>
                                            <td >{{ i.target_per_hour }}</td>
                                        </tr>
                                        {% for p in i.scanned_parts_count %}
                                            <td>{{ p.scanner_count }}</td>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h4>Please select Plan date and Branch. </h4>
                            {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <link href="{% static 'css/jquery.datetimepicker.css' %}" rel="stylesheet">
    <script type="text/javascript">
        $(document).ready(function(){
            var today = new Date();
            $("input#id_date").datetimepicker({
                autoclose: true,
                showMeridian: true,
                minDate: '-1970/01/02',
                maxDate: today,
            });
        });

    </script>
{% endblock extra_js %}
