{% extends '_base.html' %}

{% load staticfiles %}
{% block page_title %} | Reset Password Expired {% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="page-content">
            <div class="row">
{#                <div class="col-lg-8 col-sm-12">#}
{#                </div>#}
                <div class="col-lg-12 text-center" style="margin-top: 30px;">
                    <h4 class="white-text navbar-header-text">Expired</h4>
                    <h4>This link seems invalid or has expired. Please <a href="{% url 'forgot_password' %}">request a new link.</a></h4>
{#                    <h4><a href="{% url '_logout' %}" data-toggle="modal" data-target="#signUpModal">Login</a></h4>#}
                    <br/><br/>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_extra %}
    <script>
        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            });
        });
    </script>
{% endblock js_extra %}
