{% extends '_base.html' %}

{% load staticfiles %}
{% block page_title %} | Reset Password {% endblock %}
{% block content %}
    <div id="page-wrapper">
        <div class="page-content">
            <div class="row">
                {#                <div class="col-lg-12 col-sm-12">#}
                {#                 <div class="bm-x---m">#}
{#                <h3 class="white-text">Reset Password</h3>#}
                {#                    </div>#}
                <h3 class="sub-hero-header sub-hero-header-home">
                    Reset your password here
                </h3>
                {#                </div>#}
                <div class="col-lg-6 col-lg-offset-3  bm-x---l">
                    <h3 class="bm-x---m"></h3>
                    <form class="form_holder" method="post" action=".">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="{{ form.password.auto_id }}">{{ form.password.label }}</label>
                                    {{ form.password }}
                                    {% for error in form.password.errors %}
                                        <span  class="help-block form-error">{{ error|escape }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="{{ form.confirm_password.auto_id }}">{{ form.confirm_password.label }}</label>
                                    {{ form.confirm_password }}
                                    {% for error in form.confirm_password.errors %}
                                        <span  class="help-block form-error">{{ error|escape }}</span>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="theme-btn submit-btn bm-x---m">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js_extra %}
{% endblock js_extra %}
