{% extends "_base.html" %}
{% block content %}
    <div id="page-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <ol class="breadcrumb">
                            <i class="fa fa-dashboard"></i>
                            <li><a href="{% url 'home' brand %}">Dashboard</a></li>
                            <li><a href="{% url 'shifts' brand %}">Shift Details</a></li>
                            <li class="pull-right" id="demo"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <p id="assembly_error" style="display: none;"></p>
            <div class="row">
                {% if request.user.user_brand.group.name == 'Admin' or request.user.user_brand.group.name == 'SuperAdmin'%}
                    <div class="col-lg-4 pull-left" style="margin-bottom:20px;">
                        <a href="{% url 'add_shift' brand %}">
                            <button class="btn btn-default">
                                <i class="fa fa-plus-circle" aria-hidden="true">
                                    Add Shift
                                </i>
                            </button>
                        </a>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-cloud-upload">
                                Upload CSV
                            </i>
                        </button>
                    </div>
                {% endif %}
                <div class="col-lg-4 pull-right" style="margin-bottom:20px;">
                    <form id="search_form" method="get" class="input-group bm-x---m">
                        <input type="text" class="form-control" name='q' placeholder="Search" value="{{ request.GET.q }}">
                        <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span>
                        <input type="hidden" id="search_query" value="{{ request.GET.q }}">
                    </form>
                </div>
                <div class="col-lg-12">
                    <div class="portlet portlet-default">
                        <div class="portlet-title">
                            {% for msg in messages %}
                                <h5 class="{{ msg.tags }}" style="margin-left: 5px;">{{ msg }}</h5>
                            {% endfor %}
                        </div>

                        <div class="portlet-body">
                            <div id="example-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <table id="example-table" class="table table-striped table-bordered table-hover table-green dataTable" aria-describedby="example-table_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px;">Shift Name</th>
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px;">Shift Number</th>
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px;">Start Time</th>
                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" style="width: 178px;">End Time</th>
                                        {#                                        <th class="sorting_desc table-heading" role="columnheader" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-sort="descending" style="width: 178px;">Action</th>#}
                                    </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    {% for i in shift_details %}
                                        <tr class="gradeA odd">
                                            <td class="">{{ i.name }}</td>
                                            <td class="">{{ i.shift_no }}</td>
                                            <td class="">{{ i.start }}</td>
                                            <td class="">{{ i.end }}</td>
                                            {#                                            <td class=""><a href="/{{ brand }}/edit-nsm-target/{{ t.id }}/"><i class="fa fa-edit"></i> Edit</a></td>#}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'pagination.html' %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">CSV Upload</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form action="{% url 'shifts' brand %}" method="GET" >
                            <div>
                                <label>
                                    Download Sample CSV :
                                </label>
                                <a href="{% url 'upload-shifts' brand %}">
                                    <input type="button" class="btn btn-green" value="Download"/>
                                </a>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="row">
                        <form method="POST" action="{% url 'upload-shifts' brand %}"
                              enctype="multipart/form-data"  >
                            {% csrf_token %}
                            <label>
                                Upload CSV File :
                            </label>
                            <div style="display: inline-block" >
                                <input type="file" accept=".csv" required name="shift-sheet" />
                            </div>
                            <div style="display: inline-block">
                                <input type="submit" class="btn btn-default" value="Upload" />
                            </div>
                        </form>
                    </div>
                    <br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
